{% extends 'base.html' %}
{% block content %}
<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" id="services" style="margin-top:75px;  color:#00334e">
            <h1 class="w3-xxxlarge "><b>신고 게시판 .</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head>  

<body>
    <div class="container" style="margin-left:340px;margin-right:40px; margin-top:10px; padding: 60px 100px;">
        <h2> 제목 들어올 자리 </h2>
        <p> 날짜 </p>
        <p> 작성자 </p>
        <h4> 내용       
            <a href = "{% url 'decDetail' %}"> ...more</a> 
        </h4>
    </div>
</body>



{% endblock %}