{% extends 'base.html' %}
{% block content %}
<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" id="services" style="margin-top:75px;  color:#00334e">
            <h1 class="w3-xxxlarge "><b>상세페이지 .</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head> 

<div calss="container" style="padding: 60px 100px; margin-left:340px;margin-right:40px ">
    <h1 style="margin-bottom: 45px;">제목</h1>
    <p style="margin-bottom: 25px;">날짜</p>
    <p style="margin-bottom: 25px;">작성자</p>
    <h4>내용</h4>


    <input type="submit" value ="삭제하기" style="margin:auto; margin-top:50px; color:dimgrey; background: transparent; border: none;">
        {% csrf_token %}
    <input type="submit" value ="수정하기" style="padding: 6px 6px; margin-right:10px; color:dimgrey; background: transparent; border: none;">    

    <a href="{% url 'home' %}" style="dimgrey;">돌아가기</a>
</div>
{% endblock %}