{% extends 'base.html' %}
{% block content %}

<div calss="container" style="padding: 60px 100px;">
    <h2 style="margin-bottom: 45px;">{{ memo.title }}</h2>
    <p style="margin-bottom: 25px;">{{ memo.pub_date }}</p>
    <p>{{ memo.body }}</p>

 
    
        <input type="submit" value ="삭제하기" style="padding-left:0px; padding-top:50px; color:dimgrey; background: transparent; border: none;">
           {% csrf_token %}
        <input type="submit" value ="수정하기" style="padding: 6px 0px; color:dimgrey; background: transparent; border: none;">
    

    <a href="{% url 'home' %}" >돌아가기</a>
</div>

{% endblock %}