{% extends 'base.html' %}
{% block content %}
<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" id="services" style="margin-top:75px;  color:#00334e">
            <h1 class="w3-xxxlarge "><b>피드 .</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head>  

<body>
    {% load static %} <!-- static 파일 불러오기 -->
    <div class="w3-main" style="margin-left:380px; margin-right:80px; padding:10px 10px; width:70%; border:2px solid rgb(241, 236, 236); margin-top:30px">
        <h5>000님이 올린 글</h5>
        <div style="padding:5 5">
            <canvas id ="sample" width=800 height=500 style="margin-left: 140px; height:200%" ></canvas><br/>
        </div>
        <div class="content" style="padding:5 5">
            <h5>내용 블라블라블라</h5>
        </div>
        <div class="comments" style="background-color: rgb(241, 236, 236); width:100%">
            <div class="comments_order_box_order">
                <div class="comments_order_box_order_item1">
                    <h5> 댓글 1</h5>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="bot_box">
                
                <!-- 로그인한 유저가 글 작성자라면 -->
                
            </div>
        </div>
    

        <div class="comment">
        <div class="comments">
            <div class="comments_container">
                <div class="comments_box">
                    <!-- 로그인 구현되면 로그인 한 유저로 바꿔야 함-->
                    

                </div>

                <div class="comments_order_box">
                    <div class="comments_order_box_order">
                        <div class="comments_order_box_order_item1">
                            
                            <h5> 댓글 1</h5>
                            
                        </div>
                    </div>
                </div>

                <!-- 댓글 list -->
                <div class="comments_list">

                    <div class="comments_box">

                        <!-- 댓글 list loop -->
                        

                        <!-- 댓글 하나 -->
                        <div class="comments_real">

                            <div class="comments_author_info">


                                <!-- 현재 로그인 한 유저-->
                                
                                <div class="comments_author_info">
                                    
                                        <a href="/mypage/detail/230/170/whocomment">
                                    
                                            <div class="comments_author_info_image">
                                            
                                                <img src="/media/profile/%EC%AF%A9%EB%AA%85%EC%82%AC%EC%A7%84_%EB%A1%9C%EA%B3%A0.jpg" class="comments_author_info_image_real" width="25px" height="25px">
                                            
                                            </div>
                                        </a>
                                    
                                        <a href="/mypage/detail/230/170/whocomment">
                                    
                                            <div class="comments_author_info_school">
                                                <p>전북대</p>
                                            </div>
                                        </a>
                                    
                                        <a href="/mypage/detail/230/170/whocomment">
                                    
                                            <div class="comments_author_info_name">
                                                <p>김은재</p>
                                            </div>
                                        </a>        
                                            
                                        
                                    
                                </div>
                                

                                <!-- 로그인한 유저가 댓글 작성자 or 글 작성자라면 -->
                                <div class="comments_delete ">
                                    
                                </div>

                            </div>

                            <div class="comments_content_box">

                                <!-- 댓글 -->
                                <div class="comments_content">
                                    <div class="comments_content_left">
                                        댓글 좋아요!  <br>
                                    </div>
                                    <div class="comments_content_right">
                                        
                                        

                                        

                                        
                                        <button class="comments_content_right_button" type="menu" name="btn-comment">답글
                                        </button>
                                        
                                        
                                        
                                    </div>
                                </div>

                                <!-- 대댓글 -->
                                <div id="add_comment_list" class="add_comment_list" name="add_comment_list">
                                    <!-- 댓글 리스트에서 특정 리스트를 선별하기 위해 전체 댓글의 순번 loop -->
                                    

                                    <!-- 댓글의 pk와 댓글 순번이 같다면-->
                                    

                                    <!-- 모든 대댓글들 중 댓글 순번에 해당하는 대댓글만 가져온다 / custom tag & as 사용!! -->
                                    

                                    <!-- 댓글 순번에 해당하는 대댓글 loop -->
                                    <div class="add_comment_sorting">

                                        <div class="add_comment_box">

                                            <div class="add_comment">

                                                

                                            </div>

                                        </div>
                                    </div>

                                    

                                    

                                    <!-- 대댓글 Form -->
                                    
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

</body>
{% endblock %}