{% extends 'base.html' %}
{% block content %}
<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" id="services" style="margin-top:75px">
            <h1 class="w3-xxxlarge" style="color:#00334e"><b>Main</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head>  

<body>
    <div class="w3-main" style="margin-left:380px;margin-right:80px; height:100%; padding: 10px 10px;">
        <a href="{% url 'image' %}" onclick="w3_close()">사진 업로드</a>
    </div>
</body>
{% endblock %}