{% extends 'base.html' %}
{% block content %}
<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" id="services" style="margin-top:75px">
            <h1 class="w3-xxxlarge" style="color:#00334e"><b>Processing</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head>  

<body>
    <div class="w3-main" style="margin-left:380px;margin-right:80px; height:100%; padding: 10px 10px;">
        {% load static %} <!-- static 파일 불러오기 -->

        <canvas id ="sample" width=900 height=500 ></canvas><br/>

        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ form }}
            {% comment %} <input type="submit" value="Save"/> {% endcomment %}
            <a onclick="goTest()" style="color:#00334e; text-decoration:none; font-size:20px; margin:65px; font-weight:1000; float:left;cursor: pointer;">SAVE</a>
        </form>

        {% comment %} <button onClick="goTest();">테스트</button>
        <button onClick="addToCanvas()">이미지 로드</button>
        <button onClick="applyImage();">얼굴인식</button>
        <button onClick="blurImage();">블러</button> {% endcomment %}

        {% comment %} <a href="#" onclick="goTest()" style="color:#00334e; text-decoration:none; font-size:20px; margin:50px; font-weight:1000;float:left">TEST</a> {% endcomment %}
        <a onclick="addToCanvas()" style="color:#00334e; text-decoration:none; font-size:20px; margin:65px; font-weight:1000;float:left;cursor: pointer;">이미지 로드</a>
        <a onclick="applyImage()" style="color:#00334e; text-decoration:none; font-size:20px; margin:65px; font-weight:1000;float:left;cursor: pointer;">얼굴 인식</a>
        <a onclick="blurImage()" style="color:#00334e; text-decoration:none; font-size:20px; margin:65px; font-weight:1000;float:left;cursor: pointer;">블러 처리</a>
        
    </div>

    <script type="text/javascript">

        function goTest() {
            console.log(src);
        }
        // Test 용도
        // 사진에서 얼굴인식한 좌표들 ([왼쪽 위 x, 왼쪽 위 y, width, height])
        /*
        var list = [[0, 200, 190, 190],
                    [330, 140,  75,  75],
                    [470, 140,  75,  75]]

        */

        // 얼굴 인식 후 각 인식 객체별 좌표값이 list에 저장
        var list = {{ list }};
        var src = 'img/{{ src }}';

        // canvas 생성
        var canvas = document.getElementById("sample");
        var ctx = canvas.getContext('2d');
        var img = new Image();


        // 이미지 블러처리 기능
        function blurImage() {
            img.onload = blur;
            img.src = '{% static src %}';
        }

        function blur() {
            draw();
            ctx.beginPath();
            ctx.filter = 'blur(10px)';
                for (i in list) {
                    var temp = list[i];
                    ctx.drawImage(canvas,
                        temp[0], temp[1], temp[2], temp[3],
                        temp[0], temp[1], temp[2], temp[3]
                    );
                }
            ctx.filter = 'none';
            ctx.closePath();
        }

        // canvas 위에 이미지 업로드
        function addToCanvas() {
            img.onload = draw;
            img.src = '{% static src %}';
        }

        function draw() {
            ctx.drawImage(img, 0 ,0, 500, 500);
        }

        // 얼굴 인식 후 생성된 좌표값을 활용하여 네모 객체 그려주는 기능
        function applyImage() {
            draw();
            ctx.beginPath();

            for (var i in list) {
                var temp = list[i];
                ctx.rect(temp[0], temp[1], temp[2], temp[3]);   // 객체 추가
            }

            ctx.strokeStyle = "#00FFFF";    // 색상
            ctx.lineWidth = 5;  // 라인 크기
            ctx.stroke();   // 그리기
            ctx.closePath();
        }

    </script>
</body>
{% endblock %}