{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"  />
</head>
<body>
    <form class="box">
        <h1>Frivacy</h1>
        <input type="text" name="" class="LoginInput" placeholder="ID">
        <input type="password" name="" class="LoginInput" placeholder="PW">
        <div class>
            <a href="#" onclick="w3_close()" style="color:white; text-decoration:none; font-size:20px; margin:20px;">LOGIN</a>
            <a href="{% url 'signup' %}" onclick="w3_close()" style="color:white; text-decoration:none; font-size:20px;margin:20px">SIGN UP</a>
        </div>
        <div>
            <a href="#" onclick="w3_close()" style="color:white; text-decoration:none; font-size:14px;margin:30px">forgot id/pw?</a>
        </div>
    </form>
</body>
</html>