{% extends "base.html" %}
{% block content %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"  />
    <div1 class="box">
        <h1>Frivacy</h1>
        <input type="text" name="" class="LoginInput" placeholder="ID">
        <input type="password" name="" class="LoginInput" placeholder="PW">
        <div>
            <input type="submit" name="" class="LoginSubmit" value="Login">
            <input type="submit" name="" class="LoginSubmit" value="Sign up">
            <input type="submit" name="" class="LoginSubmit" value="Forgot ID/PW">
        </div1>
    </div>

{% endblock %}