<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form class="box">
        <h1>Frivacy</h1>
        <input type="text" name="" class="SignupInput" placeholder="ID">
        <input type="submit" name="" class="SignupSubmit" value="Check ID">
        <input type="password" name="" class="SignupInput" placeholder="PW">
        <input type="password" name="" class="SignupInput" placeholder="Confirm PW">
        <input type="password" name="" class="SignupInput" placeholder="Name">
        <input type="password" name="" class="SignupInput" placeholder="E-Mail">
        <input type="password" name="" class="SignupInput" placeholder="Verification">
    </form>
</body>
</html>