{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'login.css' %}}">
</head>
<body>
    <form class="box">
        <h1>Frivacy</h1>
        <input type="text" name="" placeholder="Email" class="input">
        <input type="password" name="" placeholder="PW" class="input">
        <input type="password" name="" placeholder="Confirm PW" class="input">
        <div class="logindiv">
            <input type="submit" name="" value="Sign up" class="submit">
        </div>
    </form>
</body>
</html>