<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <script>
        // Accordion 
        function myAccFunc(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
        }
    
        // Click on the "TAXI" link on page load to open the accordion for demo purposes
        //document.getElementById("myBtn").click();
       
    
        // Open and close sidebar
        function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
        }
     
        function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
          document.getElementById("img01").src = element.src;
          document.getElementById("modal01").style.display = "block";
          var captionText = document.getElementById("caption");
          captionText.innerHTML = element.alt;
        }
        
    </script>


    <body>
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding w3-text-sand" style="z-index:3;width:300px;font-weight:bold;background-color:#00334e; float: left;" id="mySidebar"><br>
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px; background-color:#00334e">Close Menu</a>
            <div class="w3-container" style=" margin-top:80px;">
                <a href="{% url 'home' %}" style="padding-bottom:10px; font-size:xx-large; font-weight:900; cursor:pointer; text-decoration:none;"><b>Frivacy</b></a>
                <h3 style="padding-bottom:64px;">Welcome, {{user.username}}</h3>
            </div>
            <div class="w3-bar-block">
                <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" >피드</a>   
                <a href="{% url 'notice' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">공지사항</a>
                <a href="{% url 'imageUpload' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">게시글 작성</a>
                <a href="{% url 'mypage' %}{{user.username}}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" >내 게시판</a>  
                <a href="{% url 'infoModify' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">개인정보 수정</a>
                
                <br>
                <br>
                <input type="text" id="search" placeholder="Search" size="18" onKeypress="javascript:if(event.keyCode==13) {search_onclick_submit()}"/>
                <br>
                <br>
                <a href="{% url 'login' %}" onclick="w3_close()" class="w3-bar-item w3-button" aria-disabled = "true">Logout</a>
                <!-- <a href="#" onclick="w3_close()" class="w3-bar-item w3-button" aria-disabled = "true"><h4>Logout</h4></a> -->
                <script src="{% static '/js/jquery.min.js' %}"></script>
                <script src="{% static '/js/bootstrap.min.js' %}"></script>
                <script src="{% static '/js/django-ajax.js' %}"></script>
                <script type="text/javascript">
                    function search_onclick_submit(){
                        location.href= "{% url 'mypage' %}"+$('#search').val();
                        }
                </script>
            </div>
        </nav>

        <!-- Top menu on small screens -->
        <header class="w3-container w3-top w3-hide-large w3-xlarge w3-padding" style="background-color:#00334e">
            <a href="javascript:void(0)" class="w3-button w3-margin-right w3-text-white" style="background-color:#00334e" onclick="w3_open()">☰</a>
            <span class="w3-text-white">Frivacy</span>
        </header>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:340px;margin-right:40px">
            
        <!-- End page content -->
        </div>

        {% block content %}
        {% endblock %}

        <script> 
        function fn_layer_popup(){ 
            var layer = document.getElementById("popup_layer"); 
            layer.style.visibility="visible"; //반대는 hidden 
        } 
        
        function fn_layer_hidden(){ 
            var layer = document.getElementById("popup_layer"); 
            layer.style.visibility="hidden"; 
        } 
        </script> 
    </body>
    
    <footer class="footer" style="background-color: #00334e; position: relative; margin-top:42%; z-index: 1; top:100%; width:100% ">
        <div class="footer">
            <h6 class="developer" style="margin-left:500px; margin-right:80px; bottom:0px;left:0px; height:90%; padding:10px 10px; color:whitesmoke; text-align: right;"> 만든이: <info> 장석민 </info>
                <info> 송혜은 </info>
                <info> 박나형 </info>
                <info> 유소영 </info>
                <br>
                Contact: aaa@aaa.com
            </h6>
            <hr>
        <div class="footer__bottom">
            <h6 class="right" style="margin-left:500px;margin-right:80px; height:100%; padding:10px 10px; color:whitesmoke; text-align: right;"> ALL RIGHTS RESERVED © aco and lani </h6>
        </div>
        </div>
    </footer>
</html>
