{% extends 'base.html' %}
{% block content %}
<head>
        <div class="w3-main" style="margin-left:340px;margin-right:40px">
            <div class="w3-container" id="services" style="margin-top:75px">
                <h1 class="w3-xxxlarge " style="color: #00334e;"><b>신고 게시글 작성</b></h1>
                <hr style="width:50px;border:5px solid #00334e" class="w3-round">
            </div>
        </div>  
    </head>  
<body>
     <br>
     <div class="w3-main" style="margin-left:500px; margin-top:20px;margin-right:80px; height:100%; padding:10px 10px">
        <h3>제목: </h3>
        <input type="text" name="title" value="{{ .title }}" maxlength="50" size="84" placeholder="title">
        <br>
        <br>
        <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);"/> 
        <div id="image_container"></div> 
        <!-- 작성자는 세션id로 저장 -->
        <h3>내용: </h3>
        <textarea  cols=85 rows=15 name="body">content</textarea> 
        <br>
        <br>
        <br>
        <input type="submit" value ="작성하기" style="padding: 6px 6px; margin-right:10px; color:dimgrey; background: transparent; border: none; margin-left:350px;">   
 </div> 
 <script>
    function setThumbnail(event) {
        var reader = new FileReader();
        reader.onload = function(event) { 
            var img = document.createElement("img"); 
            img.setAttribute("src", event.target.result);
            //document.querySelector("div#image_container").appendChild(img);
        }; 
        reader.readAsDataURL(event.target.files[0]); } 
</script>  
</body>


{% endblock %}
