{% extends 'base.html' %}
{% block content %}
<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" id="services" style="margin-top:75px;  color:#00334e">
            <h1 class="w3-xlarge "><b>상세페이지</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head> 

{% load static %} <!-- static 파일 불러오기 -->
{% for i in posts %}
<div class="w3-main" style="margin-left:380px; margin-right:80px; width:70%; border:2px solid rgb(241, 236, 236); margin-top:30px;">
    <h1 style="margin-bottom: 45px; margin-left:20px">{{i.Title}}</h1>
    <!-- <div style="padding:5 5; margin:10px;">
        <canvas id ="sample" width=800 height=450 style="margin-left: 140px; height:200%" ></canvas><br/>
    </div> -->

    <div class="content" style="padding:5 5; margin: 20px;">
        <p style="margin-bottom: 25px;">{{i.DateUploaded}}</p>
        <p style="margin-bottom: 25px;">{{i.Owner}}</p>
        <h5>{{i.Content}}</h5>
    </div>
    
</div>
<div class="w3-main" style="margin-left:380px;margin-right:80px; height:100%; padding: 10px 10px; margin-top:30px">
    <a href="{% url 'notice' %}" style="dimgrey; margin-left: 500px;">돌아가기</a>
</div>
{% endfor %}
{% endblock %}
