{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" id="services" style="margin-top:75px">
            <h1 class="w3-xlarge " style="color: #00334e;"><b>게시글 수정</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head>  
<body>
     <br>
     {% for i in posts %}
     <div class="w3-main" style="margin-left:20%; margin-top:20px;margin-right:80px; height:100%; padding:10px 10px">
        <div align="center">
            <img id="prev" src ="{% static i.URL %}">
        </div>
        <!-- 작성자는 세션id로 저장 -->
    <form method="post" act="" style="margin-left:25%; margin-top:5%">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{i.PostID}}">
        <textarea id="content" name="content" style="border-left-width:0;
        border-right-width:0;
        border-top-width:0;
        border-bottom-width:1;
        resize:none;" cols="80" rows="2">{{i.Content}}</textarea>
        <br>
        <br>
        <input type="submit" value ="작성하기" style="padding: 6px 6px; margin-right:50%; color:dimgrey; background: transparent; border: none; margin-left:30%;"> 
    </form>
    </form>
    </div>
    {% endfor %}
</body>
{% endblock %}
