{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form class="box" method="post" action="/findNextAct">
        {% csrf_token %}
        <h1>Frivacy</h1>
        <input type="hidden" name="id" value="{{user}}">
        <input type="password" id="pw" name="pw" class="SignupInput" placeholder="변경할 비밀번호 입력">
        <input type="password" id="pw2" name="pw2" class="SignupInput" placeholder="비밀번호 확인">
        <input type="submit" value="SUBMIT" style="border:none; background:transparent;color:white;font-size:large; outline:none;">
    </form>
</body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %}
</html>