{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
    {% load static %} <!-- static 파일 불러오기 -->
    {% for i in posts %}
    <div class="w3-main" style="margin-left:380px; margin-right:80px; width:60%; border:2px solid rgb(241, 236, 236); margin-top:30px; padding-top:10px;">
        <div style="margin-left:20px;">
            <a href="{% url 'declaration' %}" onclick="w3_close()" style="color: #2d363a; text-decoration:none; font-size:14px;margin:30px; float:right;">신고하기</a>
            <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;">
                <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
            </div>
            <div>{{i.Owner}}</div>
        </div><br>
        <div align="center"><img src="{% static i.URL %}"></div>
        <div class="content" style="padding:5 5; margin: 20px;">
            <div style="width:100%; word-wrap:break-word;"><b style="margin-right: 20px;">{{i.Owner}}</b>{{i.Content}}</div>
        </div>
        <div class="input-group mb-3" style="background-color: rgb(241, 236, 236); width:100%; padding: 20px;">
            <input type="text" class="underline" placeholder="comment" aria-label="Recipient's username" aria-describedby="button-addon2" style="width:85%; background-color: transparent; margin-left:10px; BORDER-BOTTOM: #00334e 1px solid;BORDER-LEFT: medium none;BORDER-RIGHT: medium none;BORDER-TOP: medium none;">
            <button class="btn btn-outline-secondary" type="submit" style="background-color:rgb(241, 236, 236); border:none; margin-left:30px;">댓글 작성</button>      
        </div>
    </div>
    {% endfor %}
</body>
{% endblock %}
