{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    {% load static %} <!-- static 파일 불러오기 -->
    {% for i in posts %}
    <div class="w3-main" style="margin-left:380px; margin-right:80px; width:60%; border:2px solid rgb(241, 236, 236); margin-top:30px; padding-top:10px;">
        <div style="margin-left:20px;">
            {% if user.username != i.Owner %}
            <a href="#notice{{i.PostID}}" class="btn-exampleN" onclick="w3_close()" style="color: #2d363a; text-decoration:none; font-size:14px;margin:15px; float:right;">신고하기</a>
            {% endif %}
            <button id="save" style="color:dimgrey; background: transparent; border: none;float:right; margin-top:14.1px;margin-right:10px;font-size: 10.6pt;" >이미지저장</button>
            <a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;"></a>
            <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;float:left;">
                <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
            </div>
            <div style="margin-left:50px;padding-top:10px"><b>{{i.Owner}}</b></div>
            </a>
        </div>
        <hr>
        <br>
        <div id="downloadImage{{i.PostID}}" align="center"><img src="{% static i.URL %}"></div>
        <script src="{% static '/js/html2canvas.js' %}"></script>
        <div align="center" style="margin-top:10px">
            <button class="save{{i.PostID}}" id="{{i.PostID}}" style="color:dimgrey; background: transparent; border: none;">저장하기</button>
        </div>
        <hr>
        <div class="content" style="padding:5 5; margin: 20px;">
            {% if i.Mylike %}
            <div class="heart{{i.PostID}}">
                <i id="h{{i.PostID}}" class="fa fa-heart-o" style="font-size:24px;display:none;"></i>
            </div>
            <div class="fullheart{{i.PostID}}">
                <i id="f{{i.PostID}}" class="fa fa-heart" style="font-size:24px;color:red;"></i>
            </div>
            {% else %}
            <div class="heart{{i.PostID}}">
                <i id="h{{i.PostID}}" class="fa fa-heart-o" style="font-size:24px"></i>
            </div>
            <div class="fullheart{{i.PostID}}">
                <i id="f{{i.PostID}}" class="fa fa-heart" style="font-size:24px;color:red;display:none;"></i>
            </div>
            {% endif %}

            좋아요 <b id="likenum{{i.PostID}}">{{i.Likes}}</b><br><br>
            <div style="width:100%; word-wrap:break-word;">
                <b style="margin-right: 10px;">
                    <a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;">{{i.Owner}}</a>
                </b>{{i.Content}}
            </div>
            <br>
            <a href="#layer{{i.PostID}}" class="btn-exampleP" style="cursor:pointer;text-decoration:none;color:#6E6E6E;">댓글 모두 보기</a>
        </div>

        <div class="dim-layer{{i.PostID}}">
            <div class="dimBg{{i.PostID}}"></div>
            <div id="layer{{i.PostID}}" class="postpop-layer{{i.PostID}}">
                <div class="pop-container">
                    <div class="pop-conts">
                        <div>
                            <div style="float:left;margin-right:10px;">
                                <img style="padding-left:10px" src="{% static i.URL %}">
                            </div>
                            <div style="margin-top:10px;margin-left:20px;">
                                <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;float:left;">
                                    <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
                                </div>
                                <div style="padding-top:10px">
                                    <a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;"><b>&nbsp;&nbsp;{{i.Owner}}</b></a>
                                    <div style="float:right;" class="btn-r">
                                        <a style="text-decoration:none;color:#6E6E6E;margin-right:20px;font-size:large;" href="#" class="btn-layerClose{{i.PostID}}">X</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div style="width:100%;word-wrap:break-word;"><b><a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;">{{i.Owner}}</a></b>&nbsp;&nbsp;{{i.Content}}</div>
                            </div>
                            <hr>
                            <div id="p{{i.PostID}}" style="max-height:250px;height:60%;background-color:#FAFAFA;overflow-y:auto;">
                                {% for j in i.Comment %}
                                <div style="margin-bottom:5px;">
                                <b><a href="{% url 'mypage' %}{{j.user}}" style="text-decoration:none;">{{j.user}}</a></b> {{j.comment}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--// content-->
                    </div>
                </div>
            </div>
        </div>

        <div class="notice-layer{{i.PostID}}">
            <div class="noticeBg{{i.PostID}}"></div>
            <div id="notice{{i.PostID}}" class="noticepop-layer{{i.PostID}}">
                <div class="noticepop-container">
                    <div class="noticepop-conts">
                        <b class="ctxt mb20">신고하기</b><br><br>
                        <div style="border-bottom: 1px solid rgb(214, 212, 212);padding:10px;">
                            <a href="/report/{{i.PostID}}/0" style="text-decoration:none;">폭력 또는 폭력 위협</a>
                        </div>
                        <div style="border-bottom: 1px solid rgb(214, 212, 212);padding:10px;">
                            <a href="/report/{{i.PostID}}/1" style="text-decoration:none;">혐오 발언 및 상징</a>
                        </div>
                        <div style="border-bottom: 1px solid rgb(214, 212, 212);padding:10px;">
                            <a href="/report/{{i.PostID}}/2" style="text-decoration:none;">신체 노출, 나체 게시물 및 음란물</a>
                        </div>
                        <div style="border-bottom: 1px solid rgb(214, 212, 212);padding:10px;">
                            <a href="/report/{{i.PostID}}/3" style="text-decoration:none;">지적 재산권 침해</a>
                        </div>
                        <div style="border-bottom: 1px solid rgb(214, 212, 212);padding:10px;">
                            <a href="/report/{{i.PostID}}/4" style="text-decoration:none;">괴롭힘 및 따돌림</a>
                        </div>
                        <div style="padding:10px;">
                            <a href="/report/{{i.PostID}}/5" style="text-decoration:none;">기타</a>
                        </div>
                        <div class="nbtn-r">
                            <a href="#" class="nbtn-layerClose{{i.PostID}}">Close</a>
                        </div>
                        <!--// content-->
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group mb-3" style="background-color: rgb(241, 236, 236); width:100%; padding: 20px; height:80px;">
            <input type="hidden" class="postid{{i.PostID}}" value="{{i.PostID}}">
            <input type="text" class="underline{{i.PostID}}" placeholder="comment" aria-label="Recipient's username" aria-describedby="button-addon2" style="float:left;width:83%; background-color: transparent; margin-left:10px; BORDER-BOTTOM: #00334e 1px solid;BORDER-LEFT: medium none;BORDER-RIGHT: medium none;BORDER-TOP: medium none;">
            <button id="{{i.PostID}}" class="comment{{i.PostID}}" type="submit" style="float:left;background-color:rgb(241, 236, 236); border:none; margin-left:30px;">댓글 작성</button>
        </div>
    </div>
    {% endfor %}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
</body>

<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/django-ajax.js' %}"></script>
<script type="text/javascript">
        function PrintDiv(div){
            div=div[0];
            html2canvas(div).then(function(canvas){
                var myImage=canvas.toDataURL();
                downloadURI(myImage,"downloadImg.jpg");
            });
        }
        function downloadURI(uri, name){
            var link = document.createElement("a");
            link.download=name;
            link.href=uri;
            document.body.appendChild(link);
            link.click();
        }
        $('[class^=save]').click(function(){
            var num = $(this).attr('id')
            console.log(num)
            PrintDiv($('#downloadImage'+num))
        });
    $('[class^=heart]').click(function() {
        var num = $(this).attr('class')
        num = num.split('heart')[1]
        $('#h'+num).attr('style', 'display:none;');
        $('#f'+num).attr('style', 'font-size:24px;color:red;');
        $('#likenum'+num).text(Number($('#likenum'+num).text())+1);
        $.ajax({
            type: "GET",
            url: "/likeAct/"+num+"/",
            processData: false,
            contentType: "application/json",
            data: ''
        });
    });
    $('[class^=fullheart]').click(function() {
        var num = $(this).attr('class')
        num = num.split('heart')[1]
        $('#f'+num).attr('style', 'display:none;');
        $('#h'+num).attr('style', 'font-size:24px;');
        $('#likenum'+num).text(Number($('#likenum'+num).text())-1);
        $.ajax({
            type: "GET",
            url: "/likeDelAct/"+num+"/",
            processData: false,
            contentType: "application/json",
            data: ''
        });
    });
    $('button[class^=comment]').click(function() {
        var num = $(this).attr('id');
        $.post("/commentAct", {
            postid: $(".postid"+num).val(),
            comment: $(".underline"+num).val()
        });
        $("#p"+$(".postid"+num).val()).append("<div><b>{{user}}</b> "+$(".underline"+num).val()+"</div>")
        $(".underline"+num).val("");
        layer_popup3("#layer"+$(".postid"+num).val(), $(".postid"+num).val())
        $("#p"+$(".postid"+num).val()).scrollTop($("#p"+$(".postid"+num).val())[0].scrollHeight);
    });
    $('.btn-exampleP').click(function(){
        var el = $(this).attr('href');
        var id = el.split('layer');
        layer_popup3(el, id[1]);
    });
    $('.btn-exampleN').click(function(){
        var el = $(this).attr('href');
        var id = el.split('notice');
        layer_popup4(el, id[1]);
    });
    function layer_popup3(el, id){
        
        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg'+id);   //dimmed 레이어를 감지하기 위한 boolean 변수
        isDim ? $('.dim-layer'+id).fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose'+id).click(function(){
            isDim ? $('.dim-layer'+id).fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer'+id+' .dimBg'+id).click(function(){
            $('.dim-layer'+id).fadeOut();
            return false;
        });
    }
    function layer_popup4(el, id){
        
        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('noticeBg'+id);   //dimmed 레이어를 감지하기 위한 boolean 변수
        isDim ? $('.notice-layer'+id).fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.nbtn-layerClose'+id).click(function(){
            isDim ? $('.notice-layer'+id).fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.notice'+id+' .noticeBg'+id).click(function(){
            $('.notice-layer'+id).fadeOut();
            return false;
        });
    }
</script>
{% endblock %}
