{% extends 'base.html' %}
{% block content %}
{% load static %} <!-- static 파일 불러오기 -->
        <div class="w3-main" style="margin-left:340px;margin-right:40px">
            <div class="w3-container" id="services" style="margin-top:75px;  color:#00334e">
                <h1 class="w3-xlarge "><b>게시글 작성</b></h1>
                <hr style="width:50px;border:5px solid #00334e" class="w3-round">
            </div>
        </div>
        {% load static %} <!-- static 파일 불러오기 -->
        <div class="w3-main" style="margin-left:380px; margin-right:80px; width:60%; border:2px solid rgb(241, 236, 236); margin-top:30px; padding-top:10px;">
            <div align="center" class="content" style="padding:5 5; margin: 20px;">
                <div style="width:500px;height:300px;background-color:#FAFAFA;border-style:dotted;border-color:#A4A4A4;" text-align="center">
                    <p id="txt" style="padding:130px;">업로드할 이미지를 선택해주세요</p>
                    <img style="max-width:100%;max-height:100%;width:auto;height:auto" id="foo" src="">
                </div>
                </br>
                <form enctype="multipart/form-data" action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="선택완료"/>
                </form>
            </div>
        </div>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/django-ajax.js' %}"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#foo').attr('src', e.target.result);
                    $('#txt').attr('style', 'display:none;');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#id_image").change(function() {
            readURL(this);
        });
    </script>
{% endblock %}