{% extends 'base.html' %}
{% block content %}
<head>
        <div class="w3-main" style="margin-left:340px;margin-right:40px">
            <div class="w3-container" id="services" style="margin-top:75px">
                <h1 class="w3-xxxlarge " style="color: #00334e;"><b>개인정보 수정 .</b></h1>
                <hr style="width:50px;border:5px solid #00334e" class="w3-round">
            </div>
        </div>  
    </head>  

<body>
     <br>
     <div class="w3-main" style="margin-left:500px; margin-top:20px;margin-right:80px; height:100%; padding:10px 10px;">
        <h4>ID </h4>
        <input type="text" name="title" value="{{ . }}" maxlength="10" size="80" placeholder="ID">
        <br>
        <br>
        <h4>PW </h4>
            <input type="password" name="title" value="{{ . }}" maxlength="20" size="80" placeholder="PASSWORD">
            <input type="submit" value =" 변경 "  onclick="pw_popup()" style="padding: 6px 6px; margin-right:10px; margin-left:10px; color:dimgrey; background:rgb(243, 243, 243); border: none;"> 
        <br>
        <br>
        <div id="popup_layer" style="position: relative; visibility:hidden;">
        <h4>PW확인 </h4> 
            <input type="password" name="title" value="{{ . }}" maxlength="20" size="80" placeholder="PASSWORD 확인">
        </div>
        <br>
        <br>
        <h4>사용자 이름 </h4>
            <input type="text" name="title" value="{{ . }}" maxlength="30" size="80" placeholder="NAME">
            <br>
        <br>
        <h4>이메일 </h4>
            <input type="text" name="title" value="{{ . }}" maxlength="30" size="80" placeholder="E-MAIL">
            <input type="submit" value =" 변경 " onclick="fn_layer_popup2()" style="padding: 6px 6px; margin-right:10px; margin-left:10px; color:dimgrey; background: rgb(243, 243, 243); border: none;"> 
        <br>
        <br>
        <div id="popup_layer2" style="position: relative; visibility:hidden;">
        <h4>인증번호 </h4>
            <input type="text" name="title" value="{{ . }}" maxlength="20" size="80" >
        </div>
        <br>
        <br>
        <br>
        <input type="submit" value ="변경하기" style="padding: 6px 6px; margin-right:10px; margin-left:350px; color:rgb(99, 97, 97); background: transparent; border: none;">  
 </div>   
</body>

<script type="text/javascript">
    function pw_popup(){ 
        var layer = document.getElementById("popup_layer"); 
        layer.style.visibility="visible"; //반대는 hidden 
    } 
    function fn_layer_popup2(){ 
        var layer = document.getElementById("popup_layer2"); 
        layer.style.visibility="visible"; //반대는 hidden 
    } 
</script>

{% endblock %}
