{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"  />
</head>
<body>
    <form class="box" method="post" action="/ajax-login">
        <h1>Frivacy</h1>
        {% csrf_token %}
        <input type="text" id="id" name="id" class="LoginInput" placeholder="ID">
        <input type="password" id="pw" name="pw" class="LoginInput" placeholder="PW">
        <div>
            <div class>
                <input type="submit" value="LOGIN" style="border:none; background:transparent;color:white;font-size:large; outline:none;">
                <a href="{% url 'signup' %}" onclick="w3_close()" style="color:white; text-decoration:none; font-size:large; margin:20px">SIGN UP</a>
            </div>
            <div>
                <a href="{% url 'forgot' %}" onclick="w3_close()" style="color:white; text-decoration:none; font-size:14px;margin:30px">forgot id/pw?</a>
            </div>
        </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>