{% extends 'base.html' %}
{% block content %}
{% load static %} <!-- static 파일 불러오기 -->
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}"  />
<body>
    <div class="w3-main" style="margin-left:380px; margin-right:80px; width:60%;margin-top:30px; padding-top:10px;">
        <div style="padding-bottom:150px;">
            <div class="box" style="float:left;background: #BDBDBD;width:150px;height:150px;border-radius: 70%;overflow: hidden;">
                <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static ProfilePic %}">
            </div>
            <div style="float:left;margin-left:30px;">
                <section>
                    <div style="padding-bottom:70px;">
                    <div style="float:left;"><h3>{{suser.username}}&nbsp;&nbsp;</h3></div>
                    {% if suser.username != user.username %}
                    {% if flag %}
                    <div style="float:left;margin-top:20px;">
                        <a id="follow" onclick="w3_close()" style="cursor: pointer;color: blue; text-decoration:none;">Follow</a>
                        <a id="following" onclick="w3_close()" style="cursor: pointer;color: blue; text-decoration:none;display:none;">Following</a>
                    </div>
                    {% else %}
                    <div style="float:left;margin-top:20px;">
                        <a id="follow" onclick="w3_close()" style="cursor: pointer;color: blue; text-decoration:none; display:none;">Follow</a>
                        <a id="following" onclick="w3_close()" style="cursor: pointer;color: blue; text-decoration:none;">Following</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    </div>
                    <div id="post">
                        게시물 <b>{{cnt}}</b>
                        <a href="#layer1" class="btn-example" style="text-decoration:none; margin-top:54px; padding-left:10px;">팔로워 <b> {{fercnt}}</b></a>
                        <a href="#layer2" class="btn-example2" style="text-decoration:none; margin-top:54px; padding-left:10px;">팔로우 <b>{{fcnt}}</b></a>
                    </div>
                    <br>
                    <div class="dim-layer">
                        <div class="dimBg"></div>
                        <div id="layer1" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                    <!--content //-->
                                    <b class="ctxt mb20">팔로워</b><br><br>
                                    {% for i in follower %}
                                    <a href="{% url 'mypage' %}{{i.User}}" style="text-decoration:none;">
                                    <div style="margin-bottom:35px;">
                                    <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;float:left;">
                                        <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
                                    </div>
                                    <p style="margin-left:50px;">{{i.User}}</p>
                                    </div>
                                    </a>
                                    {% endfor %}
                                    <div class="btn-r">
                                        <a href="#" class="btn-layerClose">Close</a>
                                    </div>
                                    <!--// content-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dim-layer2">
                        <div class="dimBg2"></div>
                        <div id="layer2" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                    <!--content //-->
                                    <b class="ctxt mb20">팔로우</b><br><br>
                                    {% for i in follow %}
                                    <a href="{% url 'mypage' %}{{i.User}}" style="text-decoration:none;">
                                    <div style="margin-bottom:35px;"> 
                                    <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;float:left;">
                                        <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
                                    </div>
                                    <p style="margin-left:50px;">{{i.User}}</p>
                                    </div>
                                    </a>
                                    {% endfor %}
                                    <div class="btn-r">
                                        <a href="#" class="btn-layerClose2">Close</a>
                                    </div>
                                    <!--// content-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="name"><b>{{suser.first_name}}</b></div>
                </section>
            </div>
        </div>
    </div>
    
    {% for i in posts %}
    <br>
    <div class="w3-main" style="margin-left:380px; margin-right:80px; width:60%; border:2px solid rgb(241, 236, 236); margin-top:30px; padding-top:10px;">
        <div style="margin-left:20px;">
            <a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;">
            <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;float:left;">
                <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
            </div>
            <div style="margin-left:50px;padding-top:10px"><b>{{i.Owner}}</b></div>
            </a>
        </div>
        <hr>
        <div align="center"><img src="{% static i.URL %}"></div>
        <hr>
        <div class="content" style="padding:5 5; margin: 20px;">
            <div style="width:100%; word-wrap:break-word;"><b style="margin-right: 10px;"><a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;">{{i.Owner}}</a></b>{{i.Content}}</div>
            <br>
            <a href="#layer{{i.PostID}}" class="btn-exampleP" style="cursor:pointer;text-decoration:none;color:#6E6E6E;">댓글 모두 보기</a>
        </div>

        <div class="dim-layer{{i.PostID}}">
            <div class="dimBg{{i.PostID}}"></div>
            <div id="layer{{i.PostID}}" class="postpop-layer{{i.PostID}}">
                <div class="pop-container">
                    <div class="pop-conts">
                        <div>
                            <div style="float:left;margin-right:10px;">
                                <img style="padding-left:10px" src="{% static i.URL %}">
                            </div>
                            <div style="margin-top:10px;margin-left:20px;">
                                <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;float:left;">
                                    <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
                                </div>
                                <div style="padding-top:10px">
                                    <b><a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;">&nbsp;&nbsp;{{i.Owner}}</a></b>
                                    <div style="float:right;" class="btn-r">
                                        <a style="text-decoration:none;color:#6E6E6E;margin-right:20px;font-size:large;" href="#" class="btn-layerClose{{i.PostID}}">X</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div style="width:100%;word-wrap:break-word;margin-left: 20px;"><b><a href="{% url 'mypage' %}{{i.Owner}}" style="text-decoration:none;">{{i.Owner}}</a></b>&nbsp;&nbsp;{{i.Content}}</div>
                            </div>
                            <hr>
                            <div id="p{{i.PostID}}" style="max-height:250px;height:60%;background-color:#FAFAFA;overflow-y:auto;">
                                {% for j in i.Comment %}
                                <div style="margin-bottom:5px;">
                                <b><a href="{% url 'mypage' %}{{j.user}}" style="text-decoration:none;">{{j.user}}</a></b> {{j.comment}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--// content-->
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group mb-3" style="background-color: rgb(241, 236, 236); width:100%; padding: 20px;">
        <input type="hidden" class="postid{{i.PostID}}" value="{{i.PostID}}">
        <input type="text" class="underline{{i.PostID}}" placeholder="comment" aria-label="Recipient's username" aria-describedby="button-addon2" style="float:left;width:83%; background-color: transparent; margin-left:10px; BORDER-BOTTOM: #00334e 1px solid;BORDER-LEFT: medium none;BORDER-RIGHT: medium none;BORDER-TOP: medium none;">
        <button id="{{i.PostID}}" class="comment{{i.PostID}}" type="submit" style="float:left;background-color:rgb(241, 236, 236); border:none; margin-left:30px;">댓글 작성</button>
        </div>
        <div style="background-color: rgb(241, 236, 236); width:100%; padding: 20px;">
            <a class="btn btn-outline-secondary" href="edit/{{i.PostID }}/" type="button" style="background-color:rgb(241, 236, 236); border:none; margin-left:90%;">수정</a>      
            <a class="btn btn-outline-secondary" href="delete/{{i.PostID }}/" type="button" style="background-color:rgb(241, 236, 236); border:none; margin-left:10px;">삭제</a>      
        </div>
    </div>
    {% endfor %}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
</body>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/django-ajax.js' %}"></script>
<script type="text/javascript">
    $('button[class^=comment]').click(function() {
        var num = $(this).attr('id');
        $.post("/commentAct", {
            postid: $(".postid"+num).val(),
            comment: $(".underline"+num).val()
        });
        $("#p"+$(".postid"+num).val()).append("<div><b>{{user}}</b> "+$(".underline"+num).val()+"</div>");
        $(".underline"+num).val("");
        layer_popup3("#layer"+$(".postid"+num).val(), $(".postid"+num).val());
        $("#p"+$(".postid"+num).val()).scrollTop($("#p"+$(".postid"+num).val())[0].scrollHeight);
    });
    $('#follow').click(function() {
        $.ajax({
            type: "GET",
            url: "/followAct/{{suser.username}}/",
            processData: false,
            contentType: "application/json",
            data: ''
        });
        $('#follow').attr('style', 'display:none;');
        $('#following').attr('style', 'color: blue;text-decoration:none;cursor: pointer;');
    });
    $('#following').click(function() {
        $.ajax({
            type: "GET",
            url: "/unfAct/{{suser.username}}/",
            processData: false,
            contentType: "application/json",
            data: ''
        });
        $('#follow').attr('style', 'color: blue;text-decoration:none;cursor: pointer;');
        $('#following').attr('style', 'display:none;');
    });
    $('.btn-example').click(function(){
        layer_popup();
    });
    $('.btn-example2').click(function(){
        layer_popup2();
    });
    $('.btn-exampleP').click(function(){
        var el = $(this).attr('href');
        var id = el.split('layer');
        layer_popup3(el, id[1]);
    });
    function layer_popup(){
        
        var $el = $("#layer1");        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });
    }
    function layer_popup2(){
        var $el = $("#layer2");        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg2');   //dimmed 레이어를 감지하기 위한 boolean 변수
        isDim ? $('.dim-layer2').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose2').click(function(){
            isDim ? $('.dim-layer2').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer2 .dimBg2').click(function(){
            $('.dim-layer2').fadeOut();
            return false;
        });
    }
    function layer_popup3(el, id){
        
        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg'+id);   //dimmed 레이어를 감지하기 위한 boolean 변수
        isDim ? $('.dim-layer'+id).fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose'+id).click(function(){
            isDim ? $('.dim-layer'+id).fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer'+id+' .dimBg'+id).click(function(){
            $('.dim-layer'+id).fadeOut();
            return false;
        });
    }
</script>
{% endblock %}
