{% extends 'base.html' %}
{% block content %}
<head>
<div class="w3-main" style="margin-right:40px; margin-bottom:100px">
    <div class="w3-container" style="margin-top:75px">
        <div class="box" style="float:left; background: #BDBDBD;width: 120px;height: 120px;border-radius: 70%;overflow: hidden; margin-left:20%; margin-top:30px;">
            <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="">
        </div>
        <div>
            <h2 style="float:left; padding:30px;">user name </h2>
            <a id="follow" onclick="w3_close()" style="cursor: pointer;color: blue; text-decoration:none; float:left; margin-top:54px;">Follow</a>
            <a id="following" onclick="w3_close()" style="color: blue; text-decoration:none; float:left; margin-top:54px; display:none;">Following</a>
        </div>
        <a href="#layer2" class="btn-example" style="color: blue; text-decoration:none; float:left; margin-top:54px; padding-left:10px;">Friends</a>
        <div class="dim-layer">
            <div class="dimBg"></div>
            <div id="layer2" class="pop-layer">
                <div class="pop-container">
                    <div class="pop-conts">
                        <!--content //-->
                        <p class="ctxt mb20">~~FRIENDS~~<br>
                            친구목록
                        </p>

                        <div class="btn-r">
                            <a href="#" class="btn-layerClose">Close</a>
                        </div>
                        <!--// content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
</head>
<body>
    {% load static %} <!-- static 파일 불러오기 -->
    {% for i in posts %}
    <div class="w3-main" style="margin-left:380px; margin-right:80px; width:60%; border:2px solid rgb(241, 236, 236); margin-top:30px; padding-top:10px;">
        <div style="margin-left:20px;">
            <div class="box" style="background: #BDBDBD;width: 40px;height: 40px;border-radius: 70%;overflow: hidden;">
                <img class="profile" style="width: 100%;height: 100%;object-fit: cover;" src="{% static i.ProfilePic %}">
            </div>
            <div>{{i.Owner}}</div>
        </div><br>
        <div align="center"><img src="{% static i.URL %}"></div>
        <div class="content" style="padding:5 5; margin: 20px;">
            <bold>{{i.Owner}}</bold>
            <div style="width:100%; word-wrap:break-word;">{{i.Content}}</div>
        </div>
        <div class="input-group mb-3" style="background-color: rgb(241, 236, 236); width:100%; padding: 20px;">
            <input type="text" class="underline" placeholder="comment" aria-label="Recipient's username" aria-describedby="button-addon2" style="width:85%; background-color: transparent; margin-left:10px; BORDER-BOTTOM: #00334e 1px solid;BORDER-LEFT: medium none;BORDER-RIGHT: medium none;BORDER-TOP: medium none;">
            <button class="btn btn-outline-secondary" type="submit" style="background-color:rgb(241, 236, 236); border:none; margin-left:30px;">댓글 작성</button>      
        </div>
        <div style="background-color: rgb(241, 236, 236); width:100%; padding: 20px;">
            <a class="btn btn-outline-secondary" href="edit/{{i.PostID }}/" type="button" style="background-color:rgb(241, 236, 236); border:none; margin-left:90%;">수정</a>      
            <a class="btn btn-outline-secondary" href="delete/{{i.PostID }}/" type="button" style="background-color:rgb(241, 236, 236); border:none; margin-left:10px;">삭제</a>      
        </div>
    </div>
    {% endfor %}
</body>
<style>
    .pop-layer .pop-container {
    padding: 20px 25px;
    }

    .pop-layer .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
    }

    .pop-layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: auto;
    background-color: #fff;
    border-radius:10px;
    z-index: 10;
    }

    .dim-layer {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    }

    .dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    }

    .dim-layer .pop-layer {
    display: block;
    }
</style>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/django-ajax.js' %}"></script>
<script type="text/javascript">
    $('#follow').click(function() {
        $.ajax({
            type: "GET",
            url: "/followAct/{{suser.username}}/",
            processData: false,
            contentType: "application/json",
            data: ''
        });
        $('#follow').attr('style', 'display:none;');
        $('#following').attr('style', 'color: blue; text-decoration:none; float:left; margin-top:54px;cursor: pointer;');
    });
    $('#following').click(function() {
        $.ajax({
            type: "GET",
            url: "/unfAct/{{suser.username}}/",
            processData: false,
            contentType: "application/json",
            data: ''
        });
        $('#follow').attr('style', 'color: blue; text-decoration:none; float:left; margin-top:54px;cursor: pointer;');
        $('#following').attr('style', 'display:none;');
    });
    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });
    function layer_popup(el){

        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elHeight < docHeight || $elWidth < docWidth) {
            $el.css({
                marginTop: -$elHeight /2,
                marginLeft: -$elWidth/2
            })
        } else {
            $el.css({top: 0, left: 0});
        }

        $el.find('a.btn-layerClose').click(function(){
            isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            return false;
        });

        $('.layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });

    }
</script>
{% endblock %}
