{% extends 'base.html' %}
{% block content %}

<head>
    <div class="w3-main" style="margin-left:340px;margin-right:40px; margin-bottom:100px">
        <div class="w3-container" id="services" style="margin-top:75px">
            <h1 class="w3-xlarge" style="color:#00334e"><b>공지사항</b></h1>
            <hr style="width:50px;border:5px solid #00334e" class="w3-round">
        </div>
    </div>  
</head>  

<body>
    <div class="w3-main" style="margin-left:380px;margin-right:80px; height:100%; padding: 10px 10px;">
        <div id="list">
        <br>
        <b>전체 글: ${totalCount}</b>
        </div>
        
        <div>
        <br>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th width="50%">제목</th>
                    <th width="10%">작성자</th>
                    <th width="20%">작성일</th>
                    <th width="10%">조회</th>
                </tr>
                </thead>
                <tbody>
                    <c:forEach var="article" items="${articles}" varStatus="status">
                        <tr>
                        <td id="title">
                            <c:if test="${article.depth > 0}">
                            &nbsp;&nbsp;
                            </c:if>
                            <a href="{% url 'detail' %}">${article.title}</a>
                            <c:if test="${article.hit >= 20}">
                            <span class="hit">hit!</span>
                            </c:if>
                        </td>
                        <td>${article.id}</td>
                        <td>${article.writeDate}</td>
                        <td>${article.hit}</td>
                        <tr>
                    </c:forEach>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
