body{
    background: #00334e;
}

.div1 {
    font-family: sans-serif;
    background: #00334e;
    margin:auto;
   
}

.box{
    border: #e8e8e8 10px double;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box h1{
    font-size: 60px;
    color: #e8e8e8;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"], .box input[type="password"]{
    border: 0;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2d363a;
    width: 250px;
    height: 25px;
    outline: none;
    color: black;    
    background-color: white;
    transition: 0.25s;
}

.box input[type="submit"]{
    border: 2px solid #2d363a;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    color: black;
    background-color: white;
    transition: 0.25s;
    cursor: pointer;
    width: 130px;
}

div{
    margin-top: 60px;
    margin-bottom: 10px;
}